run = "python server.py"
entrypoint = "server.py"

# Configures the preview URL
[env]
PORT = "8080"

[packager]
language = "python3"

[packager.features]
packageSearch = true
guessImports = true

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python server.py"]
deploymentTarget = "cloudrun"

# Configure the web preview
[http_service]
internal_port = 8080
external_port = 80
url = "https://${REPL_SLUG}.${REPL_OWNER}.repl.co" 